Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Assets/Drone/Drone_N.png
/Content/Assets/Drone/1.fbx
/Content/ProceduralTools/Meshes/Pipe.fbx
/Content/ProceduralTools/Meshes/Road.fbx
/Content/ProceduralTools/Textures/Diffuse.png
